[user]
	email = alamoda@tutamail.com
	name = al amoda
	signingkey = E0617FC235FAFB1D

[init]
	defaultBranch = main
[alias]
	lol = log --graph --decorate --oneline --color --all
	lul = log --graph --oneline --color --all
	remove = rm --cached
	f = fetch --all --tags
	s = status -vv
[core]
	editor = /home/o/.cargo/bin/hx
	pager = delta
[interactive]
	diffFilter = delta --color-only
[delta]
	navigate = true  # use n and N to move between diff sections
	dark = true
	side-by-side = true
	line-numbers = true
[commit]
	gpgsign = true
[merge]
    conflictstyle = diff3
[diff]
	colorMoved = default
	tool = delta
